# Base folder for node services
SERVICES_DIR=
# Main domain for all services
DOMAIN=
# Internal IP of the Raspberry Pi node
PI_IP=
# Cloudflare tunnel token
CF_TUNNEL_TOKEN=
# Cloudflare API token for Caddy DNS challenge
CLOUDFLARE_API_TOKEN=
# Email used by Caddy for ACME
CADDY_ACME_EMAIL=
# Pi-hole admin password
PIHOLE_WEBPASSWORD=
# Homarr internal encryption key
HOMARR_SECRET_ENCRYPTION_KEY=
