# Base folder for node services
SERVICES_DIR=
# Root folder for storage data
MEDIA_ROOT=
# Main domain for all services
DOMAIN=
# Internal IP of the Raspberry Pi node
PI_IP=
# Internal IP of the HP node
HP_IP=
# Nextcloud database name
NEXTCLOUD_DB_NAME=
# Nextcloud database user
NEXTCLOUD_DB_USER=
# Nextcloud database password
NEXTCLOUD_DB_PASSWORD=
# Nextcloud admin user
NEXTCLOUD_ADMIN_USER=
# Nextcloud admin password
NEXTCLOUD_ADMIN_PASSWORD=
# Immich database name
IMMICH_DB_NAME=
# Immich database user
IMMICH_DB_USER=
# Immich database password
IMMICH_DB_PASSWORD=
